@inherits LayoutComponentBase
<div class="page">
    <div>
        <NavMenu/>
    </div>

    <main>
        <div>
            <HeaderMenu/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
