@page "/Users"

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="A card that contains an alphabetical list of the names and other information of the people in a group or area.">
    <title>Users</title>

    <!-- STYLESHEETS -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--- -->

    <!-- Fonts [ OPTIONAL ] -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS [ REQUIRED ] -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">

    <!-- Nifty CSS [ REQUIRED ] -->
    <link rel="stylesheet" href="./assets/css/nifty.min.css">

    <!-- Nifty Demo Icons [ OPTIONAL ] -->
    <link rel="stylesheet" href="./assets/css/demo-purpose/demo-icons.min.css">

    <!-- Demo purpose CSS [ DEMO ] -->
    <link rel="stylesheet" href="./assets/css/demo-purpose/demo-settings.min.css">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~---

    [ REQUIRED ]
    You must include this category in your project.


    [ OPTIONAL ]
    This is an optional plugin. You may choose to include it in your project.


    [ DEMO ]
    Used for demonstration purposes only. This category should NOT be included in your project.


    [ SAMPLE ]
    Here's a sample script that explains how to initialize plugins and/or components: This category should NOT be included in your project.


    Detailed information and more samples can be found in the documentation.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--- -->
</head>

<div class="content__boxed">
    <div class="content__wrap">
        <div class="row mt-3">
            <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="d-flex justify-content-end gap-1">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="demo-pli-dot-horizontal fs-4"></i>
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a href="#" class="dropdown-item">
                                            <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item text-danger">
                                            <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- END : Favorite button and option dropdown -->

                        <!-- Profile picture and short information -->
                        <div class="text-center position-relative">
                            <div class="pb-3">
                                <img class="img-lg rounded-circle" src="./assets/img/profile-photos/1.png" alt="Profile Picture" loading="lazy">
                            </div>
                            <a href="#" class="h5 stretched-link btn-link">Usurios</a>
                            <p class="text-muted">Has click aqui</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
                        // Initialize the tooltip
                        document.addEventListener('DOMContentLoaded', () => {
                            let tooltipList = [...document.querySelectorAll('.add-tooltip')];
                            tooltipList.map(function(tooltipEl) {
                                new bootstrap.Tooltip(tooltipEl)
                            })
                        });
                    </script>

</div>


@code {

}