@page "/Users"
@using Microsoft.AspNetCore.Components.Web
@inject HttpClient Http

<div class="content__boxed">
    <div class="content__wrap">
        <div class="row mt-3">
            <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
                <div class="card">
                    <div class="card-body pt-2">
                        <div class="d-flex justify-content-end gap-1">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="demo-pli-dot-horizontal fs-4"></i>
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a href="#" class="dropdown-item">
                                            <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item text-danger">
                                            <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center position-relative">
                            <div class="pb-3">
                                <img class="img-lg rounded-circle" src="./assets/img/profile-photos/1.png" alt="Profile Picture" loading="lazy">
                            </div>
                            <a href="#" class="h5 stretched-link btn-link">Usuarios</a>
                            <p class="text-muted">ClicK Aqui</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* @if (users == null) *@
@* { *@
@*     <p> *@
@*         <em>Cargando...</em> *@
@*     </p> *@
@* } *@
@* else *@
@* { *@
@*     @foreach (var user in users) *@
@*     { *@
@*         <div class="card"> *@
@*             <div class="card-body"> *@
@*                 $1$ ... Asignar campos de usuario específicos aquí ... #1# *@
@*                 <h5>@user.Name</h5> *@
@*                 <p>@user.Id</p> *@
@*                 $1$ ... Más campos si es necesario ... #1# *@
@*             </div> *@
@*         </div> *@
@*     } *@
@* } *@

@code {
    // private User[] users;
    //
    // protected override async Task OnInitializedAsync()
    // {
    //     users = await Http.GetFromJsonAsync<User[]>("api/Users");
    // }

}
```
I have the following error:
> System.Net.Http.HttpRequestException: 'Response status code does not indicate success: 404 (Not Found).'
I have the following error:
> System.Net.Http.HttpRequestException: 'Response status code does not indicate success: 404 (Not Found).'