@page "/Users"
@using LoginShared
@inject HttpClient Http
@using LoginBlazor2.Services
@inject NavigationManager NavigationManager
@inject UserService UserService


<div class="content__header content__boxed overlapping">
    <div class="content__wrap">
        <div class="d-md-flex align-items-end">
            <div class="me-auto">
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="./index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Users</li>
                    </ol>
                </nav>
                <!-- END : Breadcrumb -->
                <h1 class="page-title mb-0 mt-2">Users</h1>


            </div>
            <div class="flex-grow-1 d-flex flex-wrap justify-content-end align-items-center gap-3">

                <button type="button" class="btn btn-secondary btn-lg hstack gap-2" @onclick="NavigateToUserForm">
                    <i class="demo-psi-add fs-4"></i>
                    <span class="vr"></span>
                    Add new
                </button>

                <div class="w-auto text-nowrap">

                    <button type="button" class="btn btn-light btn-icon">
                        <i class="demo-pli-gear fs-5"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="content__boxed">
    <div class="content__wrap">
        <div class="row mt-3">
            @if (users == null)
            {
                <div class="col-12">
                    <p>Cargando...</p>
                </div>
            }
            else
            {
                @foreach (var user in users)
                {
                    <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
                        <div class="card">
                            <div class="card-body pt-2">

                                <!-- Profile picture and short information -->
                                <div class="text-center position-relative">
                                    <div class="pb-3">
                                        <img class="img-md rounded-circle"
                                             src="assets/img/profile-photos/1.png"
                                             alt="Profile Picture"
                                             loading="lazy"
                                             style="max-width: 100%; max-height: 100%;">
                                    </div>
                                    <a href="#" class="h5 stretched-link btn-link">@user.Name</a>
                                    <p class="text-muted">@user.Title</p>
                                </div>
                                <p class="text-center">@user.Email</p>
                                <!-- END : Profile picture and short information -->

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {

    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsers();
    }

    private void NavigateToUserForm()
    {
        NavigationManager.NavigateTo("/UserForm");
    }

}
