 @page "/Security"

<div class="content__boxed">
<div class="content__wrap">
<div class="row mt-3">
<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
    <div class="card">
        <div class="card-body pt-2">

            <!-- Favorite button and option dropdown -->
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-sm btn-icon btn-hover btn-white shadow-none text-orange add-tooltip" data-bs-original-title="Remove from Favorites">
                    <i class="demo-psi-star fs-5"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="demo-pli-dot-horizontal fs-4"></i>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item text-danger">
                                <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-mail fs-5 me-2"></i> Send a Message
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-calendar-4 fs-5 me-2"></i> View Details
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-lock-user fs-5 me-2"></i> Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END : Favorite button and option dropdown -->

            <!-- Profile picture and short information -->
            <div class="text-center position-relative">
                <div class="pb-3">
                    <img class="img-lg rounded-circle" src="./assets/img/profile-photos/3.png" alt="Profile Picture" loading="lazy">
                </div>
                <a href="/security/users" class="h5 stretched-link btn-link">Usuarios</a>
                <p class="text-muted">ClicK Aqui</p>
            </div>
            <!--<p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
            <!-- END : Profile picture and short information -->


        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
    <div class="card">
        <div class="card-body pt-2">

            <!-- Favorite button and option dropdown -->
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-sm btn-icon btn-hover btn-white shadow-none text-muted add-tooltip" data-bs-original-title="Add to Favorites">
                    <i class="demo-psi-star fs-5"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="demo-pli-dot-horizontal fs-4"></i>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item text-danger">
                                <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-mail fs-5 me-2"></i> Send a Message
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-calendar-4 fs-5 me-2"></i> View Details
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-lock-user fs-5 me-2"></i> Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END : Favorite button and option dropdown -->

            <!-- Profile picture and short information -->
            <div class="text-center position-relative">
                <div class="pb-3">
                    <img class="img-lg rounded-circle" src="./assets/img/profile-photos/2.png" alt="Profile Picture" loading="lazy">
                </div>
                <a href="/security/roles" class="h5 stretched-link btn-link">Roles</a>
                <p class="text-muted">ClicK Aqu</p>
            </div>
            <!--<p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
            <!-- END : Profile picture and short information -->


        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
    <div class="card">
        <div class="card-body pt-2">

            <!-- Favorite button and option dropdown -->
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-sm btn-icon btn-hover btn-white shadow-none text-muted add-tooltip" data-bs-original-title="Add to Favorites">
                    <i class="demo-psi-star fs-5"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="demo-pli-dot-horizontal fs-4"></i>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item text-danger">
                                <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-mail fs-5 me-2"></i> Send a Message
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-calendar-4 fs-5 me-2"></i> View Details
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-lock-user fs-5 me-2"></i> Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END : Favorite button and option dropdown -->

            <!-- Profile picture and short information -->
            <div class="text-center position-relative">
                <div class="pb-3">
                    <img class="img-lg rounded-circle" src="./assets/img/profile-photos/1.png" alt="Profile Picture" loading="lazy">
                </div>
                <a href="/security/RolesporUsuario" class="h5 stretched-link btn-link">Roles por Usuarios</a>
                <p class="text-muted">ClicK Aqu</p>
            </div>
            <!--<p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
            <!-- END : Profile picture and short information -->


        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
    <div class="card">
        <div class="card-body pt-2">

            <!-- Favorite button and option dropdown -->
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-sm btn-icon btn-hover btn-white shadow-none text-orange add-tooltip" data-bs-original-title="Remove from Favorites">
                    <i class="demo-psi-star fs-5"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="demo-pli-dot-horizontal fs-4"></i>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item text-danger">
                                <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-mail fs-5 me-2"></i> Send a Message
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-calendar-4 fs-5 me-2"></i> View Details
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-lock-user fs-5 me-2"></i> Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END : Favorite button and option dropdown -->

            <!-- Profile picture and short information -->
            <div class="text-center position-relative">
                <div class="pb-3">
                    <img class="img-lg rounded-circle" src="./assets/img/profile-photos/5.png" alt="Profile Picture" loading="lazy">
                </div>
                <a href="/security/PantallaRoles" class="h5 stretched-link btn-link">Roles por pantalla</a>
                <p class="text-muted">ClicK Aquí</p>
            </div>
            <!--<p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
            <!-- END : Profile picture and short information -->


        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
    <div class="card">
        <div class="card-body pt-2">

            <!-- Favorite button and option dropdown -->
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-sm btn-icon btn-hover btn-white shadow-none text-muted add-tooltip" data-bs-original-title="Add to Favorites">
                    <i class="demo-psi-star fs-5"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="demo-pli-dot-horizontal fs-4"></i>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item text-danger">
                                <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-mail fs-5 me-2"></i> Send a Message
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-calendar-4 fs-5 me-2"></i> View Details
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-lock-user fs-5 me-2"></i> Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END : Favorite button and option dropdown -->

            <!-- Profile picture and short information -->
            <div class="text-center position-relative">
                <div class="pb-3">
                    <img class="img-lg rounded-circle" src="./assets/img/profile-photos/3.png" alt="Profile Picture" loading="lazy">
                </div>
                <a href="/security/PatrocinadorRoles" class="h5 stretched-link btn-link">Rol por patrocinador</a>
                <p class="text-muted">ClicK Aqu</p>
            </div>
            <!--<p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
            <!-- END : Profile picture and short information -->


        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
    <div class="card">
        <div class="card-body pt-2">

            <!-- Favorite button and option dropdown -->
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-sm btn-icon btn-hover btn-white shadow-none text-orange add-tooltip" data-bs-original-title="Remove from Favorites">
                    <i class="demo-psi-star fs-5"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="demo-pli-dot-horizontal fs-4"></i>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item text-danger">
                                <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-mail fs-5 me-2"></i> Send a Message
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-calendar-4 fs-5 me-2"></i> View Details
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-lock-user fs-5 me-2"></i> Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END : Favorite button and option dropdown -->

            <!-- Profile picture and short information -->
            <div class="text-center position-relative">
                <div class="pb-3">
                    <img class="img-lg rounded-circle" src="./assets/img/profile-photos/4.png" alt="Profile Picture" loading="lazy">
                </div>
                <a href="/security/SucursalesRoles" class="h5 stretched-link btn-link">Rol por sucursal</a>
                <p class="text-muted">ClicK Aqu</p>
            </div>
            <!-- END : Profile picture and short information -->


        </div>
    </div>
</div>
<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
    <div class="card">
        <div class="card-body pt-2">

            <!-- Favorite button and option dropdown -->
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-sm btn-icon btn-hover btn-white shadow-none text-muted add-tooltip" data-bs-original-title="Add to Favorites">
                    <i class="demo-psi-star fs-5"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="demo-pli-dot-horizontal fs-4"></i>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-pen-5 fs-5 me-2"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item text-danger">
                                <i class="demo-pli-recycling fs-5 me-2"></i> Remove
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-mail fs-5 me-2"></i> Send a Message
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-calendar-4 fs-5 me-2"></i> View Details
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">
                                <i class="demo-pli-lock-user fs-5 me-2"></i> Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END : Favorite button and option dropdown -->

            <!-- Profile picture and short information -->
            <div class="text-center position-relative">
                <div class="pb-3">
                    <img class="img-lg rounded-circle" src="./assets/img/profile-photos/7.png" alt="Profile Picture" loading="lazy">
                </div>
                <a href="/NotImplemented" class="h5 stretched-link btn-link">Reportes</a>
                <p class="text-muted">ClicK Aqu</p>
            </div>
            <!-- END : Profile picture and short information -->


        </div>
    </div>
</div>
</div>


</div>
</div>

<style>
    .content__boxed img {
        max-width: 100%;
        max-height: 100%;
    }
</style>


@code {

}
