@page "/Security/UserForm"
@using LoginBlazor2.Services
@inject UserService UserService
@inject NavigationManager NavigationManager
@using LoginShared


<div id="root" class="root front-container">

    <section id="content" class="content">
        <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="content__wrap">

                <div class="card shadow-lg">
                    <div class="card-body">

                        <div class="text-center">
                            <h3 class="h3">UserForm</h3>
                        </div>

                        <EditForm Model="@newUser" OnValidSubmit="HandleValidSubmit">
                            <DataAnnotationsValidator/>
                            <ValidationSummary/>

                            <div class="w-md-100% d-inline-flex row g-3 mb-4">
                                <div class="col-sm-6">
                                    <InputText class="form-control" placeholder="First name" @bind-Value="newUser.Name"/>
                                </div>

                                <div class="col-sm-6">
                                    <InputText class="form-control" placeholder="Last name" @bind-Value="newUser.LastName"/>
                                </div>

                                <div class="col-12">
                                    <InputText class="form-control" placeholder="Department" @bind-Value="newUser.Department"/>
                                </div>

                                <div class="col-12">
                                    <InputText type="email" class="form-control" placeholder="Email" @bind-Value="newUser.Email"/>
                                </div>

                                <div class="col-12">
                                    <InputText class="form-control" placeholder="Puesto" @bind-Value="newUser.Puesto"/>
                                </div>
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </EditForm>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

@code {
    private UserFormModel newUser = new();

    public class UserFormModel
    {
        public string Name { get; set; } = "";
        public string LastName { get; set; } = "";
        public string Department { get; set; } = "";
        public string Email { get; set; } = "";
        public string Puesto { get; set; } = "";
    }

    private async Task HandleValidSubmit()
    {
        var user = new User(
            -1,
            newUser.Name,
            newUser.LastName,
            newUser.Department,
            newUser.Email,
            "defaultPassword",
            newUser.Puesto,
            new List<Role>());
        var createdUser = await UserService.CreateUser(user);

        // navigate to the user list page.
        NavigationManager.NavigateTo("/Security/Users");
    }

}