@page "/Security/Users"
@using LoginShared
@inject HttpClient Http
@using LoginBlazor2.Security.Services
@using LoginShared.Security.DTOs
@inject NavigationManager NavigationManager
@inject UserService UserService


<div class="content__header content__boxed overlapping">
    <div class="content__wrap">
        <div class="d-md-flex align-items-end">
            <div class="me-auto">
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Users</li>
                    </ol>
                </nav>
                <!-- END : Breadcrumb -->
                <h1 class="page-title mb-0 mt-2">Users</h1>


            </div>
            <div class="flex-grow-1 d-flex flex-wrap justify-content-end align-items-center gap-3">

                <button type="button" class="btn btn-secondary btn-lg hstack gap-2" @onclick="NavigateToUserForm">
                    <i class="demo-psi-add fs-4"></i>
                    <span class="vr"></span>
                    Add new
                </button>

                <div class="w-auto text-nowrap">

                    <button type="button" class="btn btn-light btn-icon">
                        <i class="demo-pli-gear fs-5"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="content__boxed">
    <div class="content__wrap">
        <div class="row mt-3">
            @if (users == null)
            {
                <div class="col-12">
                    <p>Cargando...</p>
                </div>
            }
            else
            {
                @foreach (GetUserDto user in users)
                {
                    <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
                        <div class="card">
                            <div class="card-body pt-2">
                                <div class="d-flex justify-content-end gap-1">
                                    @* <div class="dropdown"> *@
                                    @*     <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none" *@
                                    @*             data-bs-toggle="dropdown" aria-expanded="false"> *@
                                    @*         <i class="pli-dot-horizontal fs-4"></i> *@
                                    @*         <span class="visually-hidden">Toggle Dropdown</span> *@
                                    @*     </button> *@
                                    @* *@
                                    @*     <ul class="dropdown-menu dropdown-menu-end"> *@
                                    @*         <li> *@
                                    @*             <a class="dropdown-item" @onclick="() => NavigateToUserDetails(user.Id)"> *@
                                    @*                 <i class="pli-bulleted-list fs-5 me-2"></i> Detalles *@
                                    @*             </a> *@
                                    @*         </li> *@
                                    @*         <li> *@
                                    @*             <a href="#" class="dropdown-item"> *@
                                    @*                 <i class="pli-pen-5 fs-5 me-2"></i> Edit *@
                                    @*             </a> *@
                                    @*         </li> *@
                                    @*     </ul> *@
                                    @* </div> *@
                                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none"
                                            @onclick="() => NavigateToUserDetails(user.Id)"
                                            title="Detalles">
                                        <i class="pli-bulleted-list fs-5 me-2"></i>
                                    </button>
                                    <button class="btn btn-sm btn-icon btn-hover btn-light shadow-none"
                                            @onclick="() => NavigateToUserEdit(user.Id)"
                                            title="Editar">
                                        <i class="pli-pen-5 fs-5 me-2"></i>
                                    </button>
                                </div>

                                <!-- Profile picture and short information -->
                                <div class="text-center position-relative">
                                    <div class="pb-3">
                                        <img class="img-md rounded-circle"
                                             src="assets/img/profile-photos/1.png"
                                             alt="Profile Picture"
                                             loading="lazy"
                                             style="max-width: 100%; max-height: 100%;">
                                    </div>
                                    <a href="/security/detailsuser/@user.Id" class="h5">@user.Name</a>
                                    <p class="text-muted">@user.Puesto</p>
                                    <p>@user.Department</p>


                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private List<GetUserDto> users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsers();
    }

    private void NavigateToUserForm()
    {
        NavigationManager.NavigateTo("/Security/UserForm");
    }

    private void NavigateToUserDetails(int id)
    {
        NavigationManager.NavigateTo($"/Security/DetailsUser/{id}");
    }
    
    private void NavigateToUserEdit(int id)
    {
        NavigationManager.NavigateTo($"/Security/EditUser/{id}");
    }
}
