@page "/Security/UserForm"
@using LoginBlazor2.Security.Services
@inject UserService UserService
@inject NavigationManager NavigationManager
@using LoginShared
@using LoginShared.Security.DTOs
@using Microsoft.AspNetCore.Components.Forms

<div class="container d-flex align-items-center justify-content-center vh-100">
    <EditForm Model="newUser" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-3">Agrega un Usuario por Favor</h5>
        </div>

        <div class="card-body">
            <div class="row">
                <!-- Left toolbar -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="newUser.Name"/>
                        <label>Primer Nombre</label>
                    </div>
                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="newUser.LastName"/>
                        <label>Segundo Nombre</label>
                    </div>
                </div>
                <!-- END : Left toolbar -->

                <!-- Right Toolbar -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="newUser.Department"/>
                        <label>Departamento </label>
                    </div>
                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="newUser.Email"/>
                        <label>Email</label>
                    </div>
                    <div class="form-group">
                        <InputText class="form-control" @bind-Value="newUser.Puesto"/>
                        <label>Puesto</label>
                    </div>
                </div>
                <!-- END : Right Toolbar -->
            </div>

            <button class="btn btn-primary">
                <i class="demo-psi-add fs-5"></i>
                <span>Guardar</span>
            </button>

        </div>
    </div>
</EditForm>

@code {
    private UserFormModel newUser = new();

    public class UserFormModel
    {
        public string Name { get; set; } = "";
        public string LastName { get; set; } = "";
        public string Department { get; set; } = "";
        public string Email { get; set; } = "";
        public string Puesto { get; set; } = "";
    }

    private async Task HandleValidSubmit()
    {
        // create the CreateUserDto para enviarlo al servicio de creacion de usuarios
        var user = new CreateUserDto
        (newUser.Name,
            newUser.LastName,
            newUser.Department,
            newUser.Email,
            newUser.Puesto
        );


        var createdUser = await UserService.CreateUser(user);

        // navigate to the user list page.
        NavigationManager.NavigateTo("/Security/Users");
    }

}

</div>